@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'MyCustomFont';
    src: url('fonts/JetBrainsMono-Regular.ttf');
}

.animate-marquee {
    animation: marquee var(--duration) linear infinite;
}

@keyframes marquee {
    0% {
        transform: translate(0);
      }
      100% {
        transform: translate(calc(-100% - var(--gap)));
      }
}
